<div id="projects-page" class="my_section w-100  d-flex flex-column justify-content-center align-items-center">
    <div class="text-center content-page mb-3">
        <p class="display-4 fw-bold">Projects</p>
        <div class="row g-0 d-flex justify-content-center">
            <p class="col-sm-12 fs-6 m-0">
                Here are some of my <span class="colored">projects</span>. You can see all the list <a
                    routerLink="projects" class="text-primary"> here</a>.
            </p>
        </div>
    </div>
    <div class="d-flex flex-wrap gx-0 justify-content-center w-100 mt-3">
        <div class="col-md-5 col-sm-6 col-lg-3 m-3">
            <app-card-project></app-card-project>
        </div>
        <div class="col-md-5 col-sm-6 col-lg-3 m-3">
            <app-card-project></app-card-project>
        </div>
        <div class="col-md-5 col-sm-6 col-lg-3 m-3">
            <app-card-project></app-card-project>
        </div>
    </div>
</div>