<div class="form-control border border-dark text-center">

    <div class="card">
        <div class="row g-0">

            <div class="d-flex justify-content-center" style="height: 125px;">
                <img src="assets/icons/interfaces.png" class="myImg" alt="...">
            </div>

            <div class="col-sm-12">
                <div class="card-body">
                    <h5 class="fs-5 fw-bold">
                        <a class="link-dark text-decoration-none" href="#">Card
                            Title</a>
                    </h5>


                    <div class="d-flex flex-wrap gap-2 align-items-center justify-content-center my-3">
                        <div class="div">
                            <img src="assets/icons/website.png" height="20px" width="20px" class="mx-1" alt="...">
                            <small class="fs-6">.Net Core / Angular</small>
                        </div>
                        <div>
                            <img src="assets/icons/mobile.png" height="20px" width="20px" class="mx-1" alt="...">
                            <small class="fs-6">Flutter</small>
                        </div>
                    </div>
                    <div class="mt-2">
                        <a href="#" class="btn btn-detail-project">See Detail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>