<div id="skills-page" class="my_section w-100 d-flex flex-column justify-content-center align-items-center">
    <div class="text-center content-page mb-3">
        <p class="display-4 fw-bold">Skills</p>
        <div class="row g-0 d-flex justify-content-center">
            <p class="col-sm-12 col-md-11 col-lg-10 col-xl-9 m-0">
                <span class="fs-6">
                    I've been working, these last years, with differents <span class="colored-text">technologies</span>
                    and <span class="colored-text">languages</span> such as:
                </span>
                <small class="fw-bold"> HTML, CSS, Bootstrap, JavaScript, TypeScript, Dart, C#, PHP, Java, SQL,
                    Git/Github, VS code, Figma, etc... . </small>
            </p>
        </div>
    </div>
    <div class="content-skills w-100 row gx-0 mt-3">
        <div class="col-12 ps-2 d-flex flex-wrap gap-3 justify-content-center align-items-center">

            <app-skill-item
                *ngFor="let skill of currentSkills"
                [itemSkill]="skill"
                class="card-skills col-md-3 col-5 border border-dark d-flex flex-column justify-content-center align-items-center p-2">
            </app-skill-item>
        </div>
    </div>
</div>