<div id="skills-page" class="my_section mt-5 w-100 d-flex flex-column justify-content-center">
    <div class="px-4 text-center">
        <p class="display-4 fw-bold">Skills</p>
        <p class="fs-5">
            I've been working, these last years, with differents <span class="colored-text">technologies</span>
            and <span class="colored-text">languages</span> such as : 
            <br>
            <small class="fw-bold"> HTML, CSS, Bootstrap, JavaScript, TypeScript, Dart, C#, PHP, Java, SQL,
                Git/Github, VS code, Figma, etc... . </small>
        </p>
    </div>
    <div class="content-skills row gx-0 mt-3">
        <div class="col-md-12 ps-2 d-flex flex-wrap gap-3 justify-content-center align-items-center">
            <div class="col-sm-3 border border-dark d-flex flex-column justify-content-center align-items-center p-2">
                <img src="assets/icons/flutter_framework.png" alt="" height="50">
                <span class="text-center">Flutter</span>
            </div>
            <div class="col-sm-3 border border-dark d-flex flex-column justify-content-center align-items-center p-2">
                <img src="assets/icons/Android_Studio.png" alt="" height="50">
                <span class="text-center">Android Studio</span>
            </div>
            <div class="col-sm-3 border border-dark d-flex flex-column justify-content-center align-items-center p-2">
                <img src="assets/icons/NativeScript.png" alt="" height="50">
                <span class="text-center">NativeScript</span>
            </div>
            <div class="col-sm-3 border border-dark d-flex flex-column justify-content-center align-items-center p-2">
                <img src="assets/icons/angular_framework.png" class="" alt="" height="50">
                <span class="text-center ">Angular</span>
            </div>
            <div class="col-sm-3 border border-dark d-flex flex-column justify-content-center align-items-center p-2">
                <img src="assets/icons/NET_Core_Logo.png" alt="" height="50">
                <span class="text-center">.Net Core</span>
            </div>
            <div class="col-sm-3 border border-dark d-flex flex-column justify-content-center align-items-center p-2">
                <img src="assets/icons/Laravel.png" alt="" height="50">
                <span class="text-center">Laravel</span>
            </div>
            <div class="col-sm-3 border border-dark d-flex flex-column justify-content-center align-items-center p-2">
                <img src="assets/icons/google-firebase.png" alt="" height="50">
                <span class="text-center">Firebase</span>
            </div>
            <div class="col-sm-3 border border-dark d-flex flex-column justify-content-center align-items-center p-2">
                <img src="assets/icons/sql-server.png" alt="" height="50">
                <span class="text-center">Sql Server</span>
            </div>
            <div class="col-sm-3 border border-dark d-flex flex-column justify-content-center align-items-center p-2">
                <img src="assets/icons/MySQL.png" alt="" height="50">
                <span class="text-center">MySql</span>
            </div>
        </div>
    </div>
</div>